/* add css module styles here (optional) */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  display: block;
  position: relative;
  z-index: 2;
  max-width: 500px;
  box-sizing: border-box;
  width: 90%;
  background: #fff;
  padding: 15px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
  text-align: left;
  background-image: initial;
  background-color: rgb(24, 26, 27);
  box-shadow: rgb(0, 0, 0) 0px 0px 10px;
}

.modal-close {
  position: absolute;
  right: 0px;
  top: 0px;
  background: none;
  border: none;
  font-size: 20px;
}

.test {
  background-color: #fff;
}